{% extends "layouts/default.html" %} {% block content %}
<section>
  <h2>{{ title }}</h2>
</section>

<section>
  {% if message %}
  <div>
    <p>{{ message | capitalize }}</p>
  </div>
  {% endif %}
</section>

<section>
  {% for post in posts %}
  <div style="border-style: dotted; padding: 1.5rem; margin-bottom: 1.5rem">
    <div>
      <a href="/posts/{{ post.id }}">
        <p>Title: <strong>{{ post.title }}</strong></p>
      </a>
      <p>Content: <strong>{{ post.content }}</strong></p>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
