{% extends "layouts/default.html" %} {% block content %}
<section>
  <h2>Create post</h2>
</section>

<section>
  {% if message %}
  <div>
    <p>{{ message | capitalize }}</p>
  </div>
  {% endif %}
</section>

<section>
  <form action="/posts/create" method="post">
    <div>
      <label for="title">Title: </label>
      <div>
        <input name="title" type="text" placeholder="Title" />
      </div>
    </div>
    <div>
      <label for="content">Content: </label>
      <div>
        <textarea name="content" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div>
      <button type="submit">Create post</button>
    </div>
  </form>
</section>
{% endblock %}
