{% extends "layouts/default.html" %} {% block content %}
<div class="mt-5">
  <h2 class="title">Post: {{ title }}</h2>
</div>
<hr />

{% if message %}
<div>
  <div class="notification is-warning is-light">{{ message | capitalize }}</div>
  <hr />
</div>
{% endif %}

<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p style="min-height: 200px">
          <strong>{{ post.title }}</strong>
          <br />
          {{ post.content }}
        </p>
      </div>
      {% if post.authorId == userId %}
      <nav class="level is-mobile">
        <div class="level-left">
          <form action="" class="mr-3">
            <button disabled style="all: unset">
              <a class="level-item">
                <span class="icon is-small">
                  <i class="fas fa-edit" aria-hidden="true"></i>
                </span>
              </a>
            </button>
          </form>
          <form action="/posts/{{ post.id }}/delete" method="post">
            <button type="submit" style="all: unset">
              <a class="level-item">
                <span class="icon is-small">
                  <i class="fas fa-trash" aria-hidden="true"></i>
                </span>
              </a>
            </button>
          </form>
        </div>
      </nav>
      {% endif %}
    </div>
  </article>
</div>
{% endblock %}
