{% extends "layouts/default.html" %} {% block content %}

<div class="mt-5">
  <h2 class="title">{{ title }}</h2>
</div>
<hr />

{% if message %}
<div>
  <div class="notification is-warning is-light">{{ message | capitalize }}</div>
  <hr />
</div>
{% endif %}

<section>
  <div class="grid">
    {% for post in posts %}
    <div class="column is-full-touch">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p>
              <a href="/posts/{{ post.id }}" class="is-size-5">
                <strong>{{ post.title }}</strong>
              </a>
              <br />
              {{ post.description | truncate(50)}}
              <br />
            </p>
            <div class="tags">
              <span class="tag is-black">
                {{ post.minutesPerBlock }} mins.
              </span>
              <span class="tag is-black"> {{ post.blocksCompleted }} </span>
              {% if post.blocksCompleted == 9 %}
              <span class="tag is-success">
                {% if post.blocksCompleted == 0 %} Total: 0 mins. {% else %}
                Total: {{ post.blocksCompleted * post.minutesPerBlock }} mins.
                {% endif %}
              </span>
              {% else %}
              <span class="tag">
                {% if post.blocksCompleted == 0 %} Total: 0 mins. {% else %}
                Total: {{ post.blocksCompleted * post.minutesPerBlock }} mins.
                {% endif %}
              </span>
              {% endif %}
            </div>
            {% if post.blocksCompleted == 9 %}
            <progress class="progress is-success" value="9" max="9"></progress>
            {% else %}
            <progress
              class="progress is-link"
              value="{{ post.blocksCompleted }}"
              max="9"
            ></progress>
            {% endif %}
          </div>
        </div>
        {% if post.authorId == userId %}
        <footer class="card-footer">
          <form
            action="/posts/{{ post.id }}/increment"
            method="post"
            class="card-footer-item"
          >
            <button type="submit" style="all: unset">
              <a href="#" class="card-footer-item">Increment</a>
            </button>
          </form>
          <form
            action="/posts/{{ post.id }}/delete"
            class="card-footer-item"
            method="post"
          >
            <button type="submit" style="all: unset">
              <a href="#" class="card-footer-item has-text-danger">Delete</a>
            </button>
          </form>
        </footer>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div class="column is-full">
      <div class="notification">There are no posts</div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
