{% extends "layouts/default.html" %} {% block content %}
<div class="mt-5">
  <h2 class="title">Post: {{ title }}</h2>
</div>
<hr />

{% if message %}
<div>
  <div class="notification is-warning is-light">{{ message | capitalize }}</div>
  <hr />
</div>
{% endif %}

<div class="card">
  <div class="card-content">
    <div class="content">
      <p>
        <strong class="is-size-3"> {{ post.title }} </strong>
        <br />
        <span class="tag is-light">
          <small>Created at {{ post.createdAtString }}</small>
        </span>
      </p>

      <p class="is-size-6 mgb-medium">
        <strong>Description</strong> <br />
        {{ post.description }}
      </p>

      {% if post.blocksCompleted < 9 %}
      <p class="is-size-6 mgb-medium">
        <strong>Progress</strong>
        <br />
        <progress
          class="progress is-link is-large my-2"
          value="{{ post.blocksCompleted }}"
          max="9"
        ></progress>
      </p>
      {% else %}
      <p class="is-size-6 mgb-medium">
        <strong>Progress</strong> <span class="is-italic">(Complete!)</span>
        <br />
        <progress
          class="progress is-success is-large my-2"
          value="9"
          max="9"
        ></progress>
      </p>
      {% endif %}
    </div>
  </div>

  {% if post.authorId == userId %}
  <footer class="card-footer">
    <form
      action="/posts/{{ post.id }}/increment"
      method="post"
      class="card-footer-item"
    >
      <button type="submit" style="all: unset">
        <a href="#" class="card-footer-item">Increment block</a>
      </button>
    </form>
    <form action="" class="card-footer-item">
      <button disabled style="all: unset">
        <a href="#" class="card-footer-item">Edit</a>
      </button>
    </form>
    <form
      action="/posts/{{ post.id }}/delete"
      class="card-footer-item"
      method="post"
    >
      <button type="submit" style="all: unset">
        <a href="#" class="card-footer-item has-text-danger">Delete</a>
      </button>
    </form>
  </footer>
  {% endif %}
</div>
{% endblock %}
