{% extends "layouts/protected.html" %} {% block content %}
<div class="columns">
  <div class="column pb-0 is-hidden-touch">
    <section class="hero is-black is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Post-It!</h1>
          <h2 class="subtitle">A full-stack post notes app</h2>
        </div>
      </div>
    </section>
  </div>
  <div class="column pb-0">
    <section class="hero is-black is-hidden-desktop">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Post-It!</h1>
          <h2 class="subtitle">A full-stack post notes app</h2>
        </div>
      </div>
    </section>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div
            class="is-flex is-flex-direction-column is-justify-content-center is-align-center"
          >
            <div class="is-hidden-touch">
              <h2 class="title">
                <strong>Login</strong>
              </h2>
              <hr />
            </div>
            <div>
              <form method="post">
                <div class="field">
                  <label class="label" for="email">Email</label>
                  <div class="control">
                    <input
                      class="input"
                      name="email"
                      type="email"
                      placeholder="E-Mail"
                      required
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="password">Password</label>
                  <div>
                    <input
                      class="input"
                      name="password"
                      type="password"
                      placeholder="Password"
                      required
                    />
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button
                      class="button is-link is-light is-fullwidth"
                      type="submit"
                    >
                      Login
                    </button>
                  </div>
                </div>
              </form>
            </div>
            {% if message %}
            <div>
              <hr />
              <div class="notification is-warning is-light">
                {{ message | capitalize }}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="hero-foot pb-5">
        <div class="container">
          <div class="has-text-centered">
            <a href="/users/signup"> Not registred? Signup </a>
            <p>
              Developed by
              <a
                class="is-italic"
                href="https://github.com/rafael-abuawad/flipper"
                >rafael-abuawad</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}
