<section>
  <h2>{{ title }}</h2>
</section>

<section>
  {% if message %}
  <div>
    <p>{{ message | capitalize }}</p>
  </div>
  {% endif %}
</section>

<section>
  <form method="post">
    <div>
      <label for="email">Email: </label>
      <div>
        <input name="email" type="email" placeholder="E-Mail" required />
      </div>
    </div>
    <div>
      <label for="password">Password: </label>
      <div>
        <input
          name="password"
          type="password"
          placeholder="Password"
          required
        />
      </div>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</section>

<a href="/users/signup"> Not registred? Signup </a>
