{% extends "layouts/default.html" %} {% block content %}
<div class="mt-5">
  {% if userId == user.id %}
  <h2 class="title">Profile</h2>
  {% else %}
  <h2 class="title">User #{{ user.id }}</h2>
  {% endif %}
</div>
<hr />

{% if message %}
<div>
  <div class="notification is-warning is-light">{{ message | capitalize }}</div>
  <hr />
</div>
{% endif %}

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ user.name }}</p>
        <p class="subtitle is-6">E-Mail: {{ user.email }}</p>
      </div>
    </div>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <div class="card-header-title">Posts</div>
  </div>
  <div class="card-content">
    <div class="content is-fluid">
      <div class="columns">
        {% for post in user.posts %}
        <div class="column is-one-quarter-desktop is-full-touch">
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="/posts/{{ post.id }}">
                      <strong>{{ post.title }}</strong>
                    </a>
                    <br />
                    {{ post.description | truncate(50)}}
                    <br />
                    {% if post.blocksCompleted == 0 %}
                    <strong>Time: 0 mins.</strong>
                    {% else %}
                    <strong
                      >Time: {{ post.blocksCompleted * post.minutesPerBlock }}
                      mins.</strong
                    >
                    {% endif %}
                  </p>
                  {% if post.blocksCompleted == 9 %}
                  <progress
                    class="progress is-success"
                    value="9"
                    max="9"
                  ></progress>
                  {% else %}
                  <progress
                    class="progress is-link"
                    value="{{ post.blocksCompleted }}"
                    max="9"
                  ></progress>
                  {% endif %}
                </div>
                {% if post.authorId == userId %}
                <nav class="level is-mobile">
                  <div class="level-left">
                    {% if post.hasNext == false %}
                    <form
                      action="/posts/{{ post.id }}/increment"
                      class="mr-3"
                      method="post"
                    >
                      <button type="submit" style="all: unset">
                        <a class="level-item">
                          <span class="icon is-small has-text-black">
                            <i class="fas fa-plus" aria-hidden="true"></i>
                          </span>
                        </a>
                      </button>
                    </form>

                    <form action="" class="mr-3">
                      <button disabled style="all: unset">
                        <a class="level-item">
                          <span class="icon is-small has-text-black">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                          </span>
                        </a>
                      </button>
                    </form>
                    {% endif %}

                    <form action="/posts/{{ post.id }}/delete" method="post">
                      <button type="submit" style="all: unset">
                        <a class="level-item">
                          <span class="icon is-small has-text-danger">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                          </span>
                        </a>
                      </button>
                    </form>
                  </div>
                </nav>
                {% endif %}
              </div>
            </article>
          </div>
        </div>
        {% else %}
        <div class="column is-full">
          <div class="notification">There are no posts</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
